 @import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Rajdhani:wght@300&family=Roboto:wght@100&display=swap');
 #dekstop-bg img {
     right: 0%;
     height: 100%;
     width: 90%;
     z-index: -1;
     position: fixed;
 }
 
 #phone-bg img {
     display: none;
     text-align: center;
 }
 
 .sidenav {
     height: 100%;
     width: 60px;
     position: fixed;
     top: 0;
     left: 0;
     background-color: #111;
     overflow-x: hidden;
     padding-top: 70px;
 }
 
 .active i {
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     text-decoration: none;
     background-color: #FFAE55;
     color: #000;
     display: block;
     padding: 20% 0% 20%;
 }
 
 .sidenav a {
     padding: 10% 0% 10%;
     text-align: center;
     text-decoration: none;
     font-size: 25px;
     color: #818181;
     display: block;
     transition: 0.3s;
 }
 
 .heading h1 {
     font-family: 'Nosifer';
     position: relative;
     margin-left: 10%;
     font-size: 60px;
 }
 
 .heading p {
     position: relative;
     margin-left: 10%;
     font-size: 23px;
     font-family: 'Poppins';
 }
 
 .sideImg {
     right: 0%;
     position: fixed;
     z-index: -1;
 }
 
 .btnVisit {
     position: relative;
     background-color: #FFAE55;
     margin-left: 10%;
     padding: 10px 20px;
     border-radius: 6px;
     font-weight: bold;
     color: #000;
     text-decoration: none;
 }
 
 .btnVisit:hover {
     background-color: #fcc489;
     border: none;
     color: #000;
 }
 
 #tabs a {
     background-color: #fcc489;
     border: 1px solid black;
     color: black;
 }
 
 #tabs-1 ul li a {
     background-color: #fff;
     color: blue;
     border: none;
 }
 
 #tabs ul #tabs li {
     background-color: #fff;
     border: none;
 }
 
 .searchHeading {
     margin-left: 7%;
     margin-top: 2%;
     font-family: 'Rajdhani';
     font-weight: bolder;
     font-size: 60px;
 }
 
 .btn-primary {
     background-color: #FFAE55;
     border: none;
     color: #000;
 }
 
 .btn-primary:hover,
 #tabs a:hover {
     background-color: #fcc489;
     border: none;
     color: #000;
 }
 
 .black {
     background-color: black;
 }
 
 .white {
     background-color: white;
 }
 
 .red {
     background-color: red;
 }
 
 .blue {
     background-color: blue;
 }
 
 .grey {
     background-color: grey;
 }
 
 .pink {
     background-color: pink;
 }
 
 .brown {
     background-color: brown;
 }
 
 .green {
     background-color: green;
 }
 
 #property-large {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 75%;
 }
 
 #property-small {
     width: 19%;
     height: 100px;
 }
 
 #property-small1 {
     width: 19%;
     height: 100px;
 }
 
 #property-small2 {
     width: 19%;
     height: 100px;
 }
 
 #property-small3 {
     width: 19%;
     height: 100px;
 }
 
 #property-small4 {
     width: 19%;
     height: 100px;
 }
 
 #property-small5 {
     width: 19%;
     height: 100px;
 }
 
 #textFav,
 #text2Fav {
     right: 0%;
     padding: 10px;
     border: 1px solid #aaaaaa;
 }
 
 .fav {
     margin-top: 30%;
     margin-left: 80%;
     width: 100%;
 }
 
 #Drag {
     text-align: center;
     color: #fff;
 }
 
 #gg,
 #text2Fav {
     border: 3px solid #000;
     font-weight: bolder;
     text-align: center;
     background-color: rgb(214, 206, 206);
 }
 
 #dragImg {
     height: 100%;
     width: 100%;
 }
 
 .shoeName {
     font-family: 'Rajdhani';
 }
 
 #button-main {
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     margin-top: 10%;
     margin-bottom: 10%;
 }
 
 @media screen and (max-width: 800px) {
     #dekstop-bg img {
         display: none;
     }
     #phone-bg img {
         display: block;
         margin-left: auto;
         margin-right: auto;
         text-align: center;
         right: 0%;
         height: 100%;
         width: 90%;
         z-index: -1;
         position: fixed;
     }
     .sidenav {
         height: 100%;
         width: 40px;
         position: fixed;
         top: 0;
         left: 0;
         background-color: #111;
         overflow-x: hidden;
         padding-top: 70px;
     }
     .sidenav a img {
         height: 20px;
         width: 20px;
     }
     .heading h1 {
         font-family: 'Nosifer';
         position: relative;
         margin-left: 10%;
         font-size: 50px;
     }
     .heading p {
         font-size: 20px;
     }
     .sideImg {
         display: none;
     }
     #size {
         width: 100%;
     }
 }